html {
  scroll-behavior: smooth;
}

body {
  background-color: #9CEAEF;
  margin: 0px;
  font-family: "Bradley Hand", cursive;}

/*-- Size Page --*/

.pricing {
  float: left;
  height: 500px;
  width: 100%;
}
/*  Picture*/

.pricingpicture1 {
  text-align: left;
  float: left;
  padding-top: 40px;
  padding-left: 10px;

}
/* Heading */

.pricing h1 {
  color: #9E0059;
  font-size: 100px;
  padding-top: 40px;
  text-align: center;
}
/* . Main Body*/

.pricing-details {
  margin-top: 25px;
  margin-left: 5%;
  font-size: 20px;
  color: #C4FFF9;
  text-align: left;
  float: left;
  height: 300px;
  width: 50%;
}
/*  Form Formatting*/

.pricing-form {
  background-color: #820263;
  margin-top: 50px;
  margin-left: 10%;
  float: left;
  width: 80%;
  height: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* Display Pricing Boxes*/

.wrapper {
 /*display: grid;*/
 box-sizing: border-box;
 border:2px solid;
 border-color: #f29ca3;


}


