html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Bradley Hand", cursive;}
  
/*    programs    */

.programs {
  float: left;
  height: 500px;
  width: 100%;
  color:#C4FFF9;
}
.programs h1 {
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  color:#000;
}

/*  Main Body Formatting*/

#articles {position:relative;overflow:hidden;margin-top:25px;}
#articles ul {margin:0;padding:0;list-style:none;position:relative;overflow:hidden;}
#articles ul li{margin:0 10px 0 0;padding:0 8px;display:block;float:left;width:210px;}
#articles ul li.no-margin{margin:0;border:none;}

/*  Secondary Header Format */

#articles h2{margin:0;border:none;margin: bottom 9px;font: size 22px;font-family:"Bradley Hand", cursive;}
#articles h2 a{color:#f29ca3;}

/* Hover Subject Titles Background and Text Color*/

#articles h2 a:hover{background:#f7cacd;color:#9E0059;}
#articles .meta{position:relative;top:-15px;font-size:0.12px;text-transform:uppercase;color:#999;margin-bottom:5px;font-family:helvetica,arial,sans-serif;}

/*  Picture Grid*/

.imageColumn {
  float: left;
  width:25%;
  padding: 45px;
  padding-top: 10px; 
  
}

/*  Main Form Color and Formatting*/

.programs-form {
  background-color: #820263;
  margin-top: 50px;
  margin-left: 10%;
  float: left;
  width: 80%;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


