html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Bradley Hand", cursive;}

/*-- Team Heading Formats --*/

.team {
  float: left;
  height: 500px;
  width: 100%;
}
.team h1 {
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
}
.team-details {
  margin-top: 50px;
  font-size: 20px;
  color: #C4FFF9;
  text-align: left;
  margin-left: 10%;
  float: left;
  height: 300px;
  width: 90%;
}

/*  Team Picture Grid*/

.imageColumn {
  float: left;
  width:20%;
  margin-left: 10%;
  padding:2px;
  padding-top: 10px;
  
}

/* Formatting   */
.team-form {
  background-color: #820263;
  margin-top: 50px;
  margin-left: 10%;
  float: left;
  width: 80%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Team Paragraph Formatting*/

.text-block{
  float: left;
  width:100%;
  padding:2px;
  padding-top: 10px;
  font-size: 15px;
  background-color:#C4FFF9;
  font-size: 15px;
  color:#820263;
  
}

